body {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.4;
	color: #fff;
	width: 100vw;
	height: 100vh;
	background: #1f2937;
}

h1,
h2,
h3,
h4 {
	font-family: "Genos", sans-serif;
}
